.main-body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(216, 141, 44);
    border-radius: 30px;
    display: flex;
}

.main-content {
    flex: 1;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }